#lista-general {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .botones {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  
  .texto-agregar {
    display: flex;
    align-items: center;
  }

.boton-borrarTODO button {
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: white;
}